name: Auto Gmail to Google Sheet

on:
  schedule:
    - cron: "13 2 * * *"  # chạy hàng ngày 5h sáng VN (UTC+7) → 22:00 UTC
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install packages
      run: pip install -r requirements.txt

    - name: Create service_account.json
      run: |
        echo "${{ secrets.GCP_KEY }}" > service_account.json

    - name: Run script
      run: python main.py
