name: Auto Gmail to Google Drive

on:
  schedule:
    - cron: "5 2 * * *"   # chạy hàng ngày lúc 5:00 sáng VN (UTC+7)
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install packages
      run: pip install -r requirements.txt

    - name: Create service_account.json
      run: |
        echo "${{ secrets.GCP_KEY }}" > service_account.json

    - name: Run Python
      working-directory: ${{ github.workspace }}
      run: python main.py
